@use "sass:math";

// For a fluid grid using floats

$column-width: 60px;
$gutter-width: 20px;

@mixin clearfix {
  &::after,
  &::before {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}


@mixin span_float_grid($column-span: 12) {
  $context: $column-span * $column-width;
  float: left;
  margin-right: $gutter-width;
  $absolute_width: ($column-width * $column-span) + ($gutter-width * ($span - 1));
  @if $column-span == 12 {
    width: $absolute_width;
  } @else {
    width: math.div($absolute_width, $context) * 100%;
  }
}